<header class="site-header">
    <div class="site-header__cluster">
      <button class="">
        <svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
        </svg>
        <span class="" id="menu-button-toolip">Open menu</span>
      </button>

      <a href="#">
        <img
          src="https://github.com/travis-ci.png"
          class="site-header__logo"
          alt=""
        />
      </a>

      <a class="" href="#">Trash Draft</a>
    </div>

    <!-- TODO(cattus-cur): 네비게이션바 and 사이드바 -->
    <nav>
      <a href="#">Hmm</a>
    </nav>

    <div class="">
      <!-- TODO(cattus-cur): 검색 -->
      <button class="" type="button">
        <svg
          class=""
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          width="16"
          height="16"
        >
          <path
            fill-rule="evenodd"
            d="M11.5 7a4.499 4.499 0 11-8.998 0A4.499 4.499 0 0111.5 7zm-.82 4.74a6 6 0 111.06-1.06l3.04 3.04a.75.75 0 11-1.06 1.06l-3.04-3.04z"
          ></path>
        </svg>
      </button>

    </div>

</div>


